<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page" id="site-name">CSE Motors</a>
  </span>
  <div id="tools">
    <a title="Click to log in" href="/account/login" id="login-link">My Account</a>
  </div>
</header>